@model Ludo.Models.GameModel
@{
    ViewBag.Title = @Model.Game.Name;
    Layout = "~/Views/Shared/_GameLayout.cshtml";

}
@{
    string name = "";
    IHtmlString status = Html.Raw("");
    if (@Model.Game.CurrentPlayer != null)
    {
        name = "Current player: " + Model.Game.CurrentPlayer.Name;

    }
    if(!Model.StatusMessage.IsEmpty())
    {
        status = Html.Raw(Model.StatusMessage);
    }

    

}

<div class="current-player">
    <p>@name <br /> @status</p>
</div>

<div class="custom-container">

    <div class="Blue-Corridor">
        <div class="Block-5">@Html.Action("_Game", new { bId = Model.Bricks[5], pId = Model.PlayerPosId[5], active = Model.Active[5] })</div>
        <div class="Block-6">@Html.Action("_Game", new { bId = Model.Bricks[6], pId = Model.PlayerPosId[6], active = Model.Active[6] })</div>
        <div class="Block-7">@Html.Action("_Game", new { bId = Model.Bricks[7], pId = Model.PlayerPosId[7], active = Model.Active[7] })</div>
        <div class="Block-4">@Html.Action("_Game", new { bId = Model.Bricks[4], pId = Model.PlayerPosId[4], active = Model.Active[4] })</div>
        <div class="Block-101">@Html.Action("_Game", new { bId = Model.Bricks[101], pId = Model.PlayerPosId[101], active = Model.Active[101] })</div>
        <div class="Block-200 Block-8">@Html.Action("_Game", new { bId = Model.Bricks[8], pId = Model.PlayerPosId[8], active = Model.Active[8] })</div>
        <div class="Block-3">@Html.Action("_Game", new { bId = Model.Bricks[3], pId = Model.PlayerPosId[3], active = Model.Active[3] })</div>
        <div class="Block-102">@Html.Action("_Game", new { bId = Model.Bricks[102], pId = Model.PlayerPosId[102], active = Model.Active[102] })</div>
        <div class="Block-9">@Html.Action("_Game", new { bId = Model.Bricks[9], pId = Model.PlayerPosId[9], active = Model.Active[9] })</div>
        <div class="Block-2">@Html.Action("_Game", new { bId = Model.Bricks[2], pId = Model.PlayerPosId[2], active = Model.Active[2] })</div>
        <div class="Block-103">@Html.Action("_Game", new { bId = Model.Bricks[103], pId = Model.PlayerPosId[103], active = Model.Active[103] })</div>
        <div class="Block-10">@Html.Action("_Game", new { bId = Model.Bricks[10], pId = Model.PlayerPosId[10], active = Model.Active[10] })</div>
        <div class="Block-1">@Html.Action("_Game", new { bId = Model.Bricks[1], pId = Model.PlayerPosId[1], active = Model.Active[1] })</div>
        <div class="Block-104">@Html.Action("_Game", new { bId = Model.Bricks[104], pId = Model.PlayerPosId[104], active = Model.Active[104] })</div>
        <div class="Block-11">@Html.Action("_Game", new { bId = Model.Bricks[11], pId = Model.PlayerPosId[11], active = Model.Active[11] })</div>
    </div>

    <div class="Yellow-Corridor">
        <div class="Block-12">@Html.Action("_Game", new { bId = Model.Bricks[12], pId = Model.PlayerPosId[12], active = Model.Active[12] })</div>
        <div class="Block-13">@Html.Action("_Game", new { bId = Model.Bricks[13], pId = Model.PlayerPosId[13], active = Model.Active[13] })</div>
        <div class="Block-14">@Html.Action("_Game", new { bId = Model.Bricks[14], pId = Model.PlayerPosId[14], active = Model.Active[14] })</div>
        <div class="Block-15">@Html.Action("_Game", new { bId = Model.Bricks[15], pId = Model.PlayerPosId[15], active = Model.Active[15] })</div>
        <div class="Block-16">@Html.Action("_Game", new { bId = Model.Bricks[16], pId = Model.PlayerPosId[16], active = Model.Active[16] })</div>
        <div class="Block-108">@Html.Action("_Game", new { bId = Model.Bricks[108], pId = Model.PlayerPosId[108], active = Model.Active[108] })</div>
        <div class="Block-107">@Html.Action("_Game", new { bId = Model.Bricks[107], pId = Model.PlayerPosId[107], active = Model.Active[107] })</div>
        <div class="Block-106">@Html.Action("_Game", new { bId = Model.Bricks[106], pId = Model.PlayerPosId[106], active = Model.Active[106] })</div>
        <div class="Block-105">@Html.Action("_Game", new { bId = Model.Bricks[105], pId = Model.PlayerPosId[105], active = Model.Active[105] })</div>
        <div class="Block-17">@Html.Action("_Game", new { bId = Model.Bricks[17], pId = Model.PlayerPosId[17], active = Model.Active[17] })</div>
        <div class="Block-22">@Html.Action("_Game", new { bId = Model.Bricks[22], pId = Model.PlayerPosId[22], active = Model.Active[22] })</div>
        <div class="Block-21">@Html.Action("_Game", new { bId = Model.Bricks[21], pId = Model.PlayerPosId[21], active = Model.Active[21] })</div>
        <div class="Block-20">@Html.Action("_Game", new { bId = Model.Bricks[10], pId = Model.PlayerPosId[10], active = Model.Active[10] })</div>
        <div class="Block-201 Block-19">@Html.Action("_Game", new { bId = Model.Bricks[19], pId = Model.PlayerPosId[19], active = Model.Active[19] })</div>
        <div class="Block-18">@Html.Action("_Game", new { bId = Model.Bricks[18], pId = Model.PlayerPosId[18], active = Model.Active[18] })</div>
    </div>

    <div class="Red-Corridor">
        <div class="Block-33">@Html.Action("_Game", new { bId = Model.Bricks[33], pId = Model.PlayerPosId[33], active = Model.Active[33] })</div>
        <div class="Block-112">@Html.Action("_Game", new { bId = Model.Bricks[112], pId = Model.PlayerPosId[112], active = Model.Active[112] })</div>
        <div class="Block-23">@Html.Action("_Game", new { bId = Model.Bricks[23], pId = Model.PlayerPosId[23], active = Model.Active[23] })</div>
        <div class="Block-32">@Html.Action("_Game", new { bId = Model.Bricks[32], pId = Model.PlayerPosId[32], active = Model.Active[32] })</div>
        <div class="Block-111">@Html.Action("_Game", new { bId = Model.Bricks[111], pId = Model.PlayerPosId[111], active = Model.Active[111] })</div>
        <div class="Block-24">@Html.Action("_Game", new { bId = Model.Bricks[24], pId = Model.PlayerPosId[24], active = Model.Active[24] })</div>
        <div class="Block-31">@Html.Action("_Game", new { bId = Model.Bricks[31], pId = Model.PlayerPosId[31], active = Model.Active[31] })</div>
        <div class="Block-110">@Html.Action("_Game", new { bId = Model.Bricks[110], pId = Model.PlayerPosId[110], active = Model.Active[110] })</div>
        <div class="Block-25">@Html.Action("_Game", new { bId = Model.Bricks[25], pId = Model.PlayerPosId[25], active = Model.Active[25] })</div>
        <div class="Block-202 Block-30">@Html.Action("_Game", new { bId = Model.Bricks[30], pId = Model.PlayerPosId[30], active = Model.Active[30] })</div>
        <div class="Block-109">@Html.Action("_Game", new { bId = Model.Bricks[109], pId = Model.PlayerPosId[109], active = Model.Active[109] })</div>
        <div class="Block-26">@Html.Action("_Game", new { bId = Model.Bricks[26], pId = Model.PlayerPosId[26], active = Model.Active[26] })</div>
        <div class="Block-29">@Html.Action("_Game", new { bId = Model.Bricks[29], pId = Model.PlayerPosId[29], active = Model.Active[29] })</div>
        <div class="Block-28">@Html.Action("_Game", new { bId = Model.Bricks[28], pId = Model.PlayerPosId[28], active = Model.Active[28] })</div>
        <div class="Block-27">@Html.Action("_Game", new { bId = Model.Bricks[27], pId = Model.PlayerPosId[27], active = Model.Active[27] })</div>
    </div>

    <div class="Green-Corridor">
        <div class="Block-40">@Html.Action("_Game", new { bId = Model.Bricks[40], pId = Model.PlayerPosId[40], active = Model.Active[40] })</div>
        <div class="Block-203 Block-41">@Html.Action("_Game", new { bId = Model.Bricks[41], pId = Model.PlayerPosId[41], active = Model.Active[41] })</div>
        <div class="Block-42">@Html.Action("_Game", new { bId = Model.Bricks[42], pId = Model.PlayerPosId[42], active = Model.Active[42] })</div>
        <div class="Block-43">@Html.Action("_Game", new { bId = Model.Bricks[43], pId = Model.PlayerPosId[43], active = Model.Active[43] })</div>
        <div class="Block-44">@Html.Action("_Game", new { bId = Model.Bricks[44], pId = Model.PlayerPosId[44], active = Model.Active[44] })</div>
        <div class="Block-39">@Html.Action("_Game", new { bId = Model.Bricks[39], pId = Model.PlayerPosId[39], active = Model.Active[39] })</div>
        <div class="Block-113">@Html.Action("_Game", new { bId = Model.Bricks[113], pId = Model.PlayerPosId[113], active = Model.Active[113] })</div>
        <div class="Block-114">@Html.Action("_Game", new { bId = Model.Bricks[114], pId = Model.PlayerPosId[114], active = Model.Active[114] })</div>
        <div class="Block-115">@Html.Action("_Game", new { bId = Model.Bricks[115], pId = Model.PlayerPosId[115], active = Model.Active[115] })</div>
        <div class="Block-116">@Html.Action("_Game", new { bId = Model.Bricks[116], pId = Model.PlayerPosId[116], active = Model.Active[116] })</div>
        <div class="Block-38">@Html.Action("_Game", new { bId = Model.Bricks[38], pId = Model.PlayerPosId[38], active = Model.Active[38] })</div>
        <div class="Block-37">@Html.Action("_Game", new { bId = Model.Bricks[37], pId = Model.PlayerPosId[37], active = Model.Active[37] })</div>
        <div class="Block-36">@Html.Action("_Game", new { bId = Model.Bricks[36], pId = Model.PlayerPosId[36], active = Model.Active[36] })</div>
        <div class="Block-35">@Html.Action("_Game", new { bId = Model.Bricks[35], pId = Model.PlayerPosId[35], active = Model.Active[35] })</div>
        <div class="Block-34">@Html.Action("_Game", new { bId = Model.Bricks[34], pId = Model.PlayerPosId[34], active = Model.Active[34] })</div>
    </div>

    <div class="Green-Home">
        <div class="player-name">@Model.PlayerName[3]</div>
        <div class="Green-Base">
            <div class="Block-601">
                @Html.Action("_Game", new { bId = Model.Bricks[1013], pId = Model.PlayerPosId[1013], active = Model.Active[1013] })
            </div>
            <div class="Block-602">
                @Html.Action("_Game", new { bId = Model.Bricks[1014], pId = Model.PlayerPosId[1014], active = Model.Active[1014] })
            </div>
            <div class="Block-603">
                @Html.Action("_Game", new { bId = Model.Bricks[1015], pId = Model.PlayerPosId[1015], active = Model.Active[1015] })
            </div>
            <div class="Block-604">
                @Html.Action("_Game", new { bId = Model.Bricks[1016], pId = Model.PlayerPosId[1016], active = Model.Active[1016] })
            </div>
        </div>
        <div class="d-result">@Model.DiceResult[3]</div>
    </div>

    <div class="Blue-Home">
        <div class="player-name">@Model.PlayerName[0]</div>
        <div class="Blue-Base">
            <div class="Block-605">
                @Html.Action("_Game", new { bId = Model.Bricks[1001], pId = Model.PlayerPosId[1001], active = Model.Active[1001] })
            </div>
            <div class="Block-606">
                @Html.Action("_Game", new { bId = Model.Bricks[1002], pId = Model.PlayerPosId[1002], active = Model.Active[1002] })
            </div>
            <div class="Block-607">
                @Html.Action("_Game", new { bId = Model.Bricks[1003], pId = Model.PlayerPosId[1003], active = Model.Active[1003] })
            </div>
            <div class="Block-608">
                @Html.Action("_Game", new { bId = Model.Bricks[1004], pId = Model.PlayerPosId[1004], active = Model.Active[1004] })
            </div>
        </div>
        <div class="d-result">@Model.DiceResult[0]</div>
    </div>
    <div class="Yellow-Home">
        <div class="player-name">@Model.PlayerName[1]</div>
        <div class="Yellow-Base">
            <div class="Block-609">
                @Html.Action("_Game", new { bId = Model.Bricks[1005], pId = Model.PlayerPosId[1005], active = Model.Active[1005] })
            </div>
            <div class="Block-610">
                @Html.Action("_Game", new { bId = Model.Bricks[1006], pId = Model.PlayerPosId[1006], active = Model.Active[1006] })
            </div>
            <div class="Block-611">
                @Html.Action("_Game", new { bId = Model.Bricks[1007], pId = Model.PlayerPosId[1007], active = Model.Active[1007] })
            </div>
            <div class="Block-612">
                @Html.Action("_Game", new { bId = Model.Bricks[1008], pId = Model.PlayerPosId[1008], active = Model.Active[1008] })
            </div>
        </div>
        <div class="d-result">@Model.DiceResult[1]</div>
    </div>
    <div class="Red-Home">
        <div class="player-name">@Model.PlayerName[2]</div>
        <div class="Red-Base">
            <div class="Block-613">
                @Html.Action("_Game", new { bId = Model.Bricks[1009], pId = Model.PlayerPosId[1009], active = Model.Active[1009] })
            </div>
            <div class="Block-614">
                @Html.Action("_Game", new { bId = Model.Bricks[1010], pId = Model.PlayerPosId[1010], active = Model.Active[1010] })
            </div>
            <div class="Block-615">
                @Html.Action("_Game", new { bId = Model.Bricks[1011], pId = Model.PlayerPosId[1011], active = Model.Active[1011] })
            </div>
            <div class="Block-616">
                @Html.Action("_Game", new { bId = Model.Bricks[1012], pId = Model.PlayerPosId[1012], active = Model.Active[1012] })
            </div>
        </div>
        <div class="d-result">@Model.DiceResult[2]</div>
    </div>

    <div class="Middle-Circle">
       @Html.Action("_Dice", new { num = Model.Game.Dice.Result})
    </div>
</div>
